body{
    /*background-color: #fffada;*/
}

#svg-qr {
    padding-top: 3em;
    width: 80%;
    margin: auto;
    display: block;
  }

img{
    width: 30%;
    padding-top: 3em;
    display: block;
    margin: auto;
}

#subtitle{
    position: fixed;
    top:1em;
    right:1em;
}

#text, #colorDark, #colorLight{
    width: 40%;
    padding: .5em;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    border-width: 0.1em;
    border-radius: 10px;
    border-color: black;
    /*background-color: #fffada;*/
}

h1, h3, p{
    font-family: "Courier New", monospace;
}

footer{
    position:fixed;
    bottom:0;
    width:100%;
}

@media only screen and (max-width: 1000px) {
    #subtitle{
        position: absolute;
        padding-top:1em;
    }
}